/* Input Filter Project*/

[id*="filterInput"] {
    padding-left: 20px;
}

/* Process Flow */
.sapSuiteUiCommonsPFHeaderRow {
    display: none !important;
}

.paddingTopBottom {
    padding-top: 7px;
    padding-bottom: 7px;
}



[id*="zoomButtons"]{
    margin: 1rem 2rem 1rem 1rem;
}


/* Nodes Title */
.sapSuiteUiCommonsProcessFlowNodeTitle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Process Flow Container */
#container-toolpageapp---project--processflow1-table {
    padding-top: 5rem;                /* Sets padding for the whole table */
    padding-left: 3rem;
    padding-right: 3rem;
}

#container-toolpageapp---project--processflow1-table .sapMText {
    padding: 8px;                 /* Sets padding for text cells */
    text-align: center;             /* Aligns text in cells */
}

.highlight-row-on-hover .sapMListTblRow:hover {
    background-color: #e0f7fa !important; 
    cursor: not-allowed; 
}
